name: update readme
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 4 * * *"
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v4
        with:
          cache: true
      - run: pnpm install
      - run: pnpm start
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          REPO_OWNER: ${{ github.repository_owner }}
      - name: Commit changes
        run: |
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git diff --quiet && git diff --staged --quiet || (git commit -m "updated readme stats" && git push)